body{
background-color:lightyellow;
text-align:center;
}

h1{
color:red;
font-size:42px;
}

p{
color:red;
}

img{
width:181px;
height:181x;
}

.menu {
    background-color: #003366;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
    transition: 0.3s;
}

.menu a:hover {
    background-color: #00aaff;
}
